.DS_Store
.vscode/
a.out
test.cpp
*.o
megaphone
phonebook
zombies
this_is_brain
so_uncivilized
files
*.replace
harl
fixed
ClapTrap
ScavTrap
FragTrap
Animals
materia
.idea/
cmake-build-debug/
bureaucrat
*_shrubbery
scalarConverter
realType
reinterpret
whatever
iter
customArray
easyfind
span